<ul>
    <li>
        <button>
            <class="01"><%= image_tag 'home.png' %>ホーム</class>
        </button>
    </li>
    <li>
        <a href="a" class="notline"><%= image_tag 'search.png' %>話題を追加</class>
        </a>
    </li>
    <li>
        <a href="a" class="notline"><%= image_tag 'reminde.png' %>通知</class>
        </a>
    </li>
    <li>
        <a href="a" class="notline"><%= image_tag 'message.png' %>メッセージ</class>
        </a>
    </li>
    <li>
        <a href="a" class="notline"><%= image_tag 'bookmark.png' %>ブックマーク</class>
        </a>
    </li>
    <li>
        <a href="a" class="notline"><%= image_tag 'list.png' %>リスト</class>
        </a>
    </li>
    <li>
        <a href="a" class="notline"><%= image_tag 'profiel.png' %>プロフィール</class>
        </a>
    </li>
    <li>
        <a href="a" class="notline"><%= image_tag 'more.png' %>もっと見る</class>
        </a>
    </li>
    <li>
        <%= link_to 'ツイートする', 'tweets/new' %>
    </li>
</ul>